<%- include('./layout/classicAdmin.ejs') %>
<%- include('./layout/headerAdmin.ejs') %>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper" style="min-height: 900px;">
        
        <!-- 내용 -->
        <div>
        
        </div>
        
	</div>
<%- include('./layout/footerAdmin.ejs') %>